<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>teachMgr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>code</servlet-name>
    <servlet-class>com.lq.school.util.SafeCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>code</servlet-name>
    <url-pattern>/safecode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.lq.school.customer.control.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.lq.school.teacher.control.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>charset</filter-name>
    <filter-class>com.lq.school.util.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>charset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.lq.school.course.control.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.lq.school.student.control.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClasseServlet</display-name>
    <servlet-name>ClasseServlet</servlet-name>
    <servlet-class>com.lq.school.classe.control.ClasseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClasseServlet</servlet-name>
    <url-pattern>/ClasseServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>C_SServlet</display-name>
    <servlet-name>C_SServlet</servlet-name>
    <servlet-class>com.lq.school.c_s.control.C_SServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_SServlet</servlet-name>
    <url-pattern>/C_SServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>C_TServlet</display-name>
    <servlet-name>C_TServlet</servlet-name>
    <servlet-class>com.lq.school.c_t.control.C_TServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_TServlet</servlet-name>
    <url-pattern>/C_TServlet</url-pattern>
  </servlet-mapping>
</web-app>